{% extends "layout.html" %}
{% block title %}Bus Information{% endblock %}
{% block content %}
<div class="container body-content">
    <h2>Bus Information</h2>
    <div>
        <h4 style="text-align: center">You entered postcode <span>{{ postcode }}</span></h4>
        <h4 style="text-align: center">Current Weather for <span>{{ postcode }}</span>: <img src="http://openweathermap.org/img/wn/10d.png"></h4>
    </div>

        {% for stop in stops %}
        <h3 style="text-align: center"><u>Bus Stop: <span>{{ stop.name }}</span></u></h3>
        <br>
            {% if stop.buses|length > 0 %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Bus Number</th>
                        <th scope="col">Direction</th>
                        <th scope="col">Estimated Departure Time</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for bus in stop.buses %}
                        <tr>
                                <th scope="row">{{ bus.line_name}}</th>
                                <th>{{ bus.direction}}</th>
                                <th>{{ bus.dep_time}}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
            {% else %}
                <h4 style="text-align: center; color: red">There are currently no Buses available for this stop!</h4>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
